.table__row {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding-right: 90px;

    &--header {
        .table__cell {
            background-color: grey;
            color: white;
            font-weight: 700;
            font-size: 15px;
            cursor: pointer;
            transition: opacity 0.2s ease;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.table__cell {
    text-align: center;
    padding: 0.5em 0.5em;
    border: 1px solid black;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm__actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm__button {
    padding: 5px 7px;
    margin: 5px 0;
    font-size: 12px;
    border: none;
    background: none;
    border-radius: 5px;
    transition: opacity 0.2s ease;
    cursor: pointer;
    font-weight: 700;
    color: white;

    &:hover {
        opacity: 0.7;
    }

    &--del {
        background-color: lightcoral;
        margin-right: 15px;
    }

    &--yes {
        background-color: red;
    }

    &--no {
        background-color: lightgreen;
    }
}
